*{
    margin: 0;
    padding: 0;
}
body{
    color: #000;
}

.header-container{
    background-color: black;
    color: white;
}

.headline{
    background-color: black;
    color: white;
}

.banner{
    padding: 5px;
    margin: 3px;
}

.img{
    width: 230px;
    height: 300px;
    border-image-width: 300px;
}

.buttom{
    align-items: flex-end;
}

